
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
.onglet
{
	display:inline-block;
	margin-left:3px;
	margin-right:3px;
	padding:3px;
	border:1px solid black;
	cursor:pointer;
}

.onglet_0
{
	background-color:#bbbbbb;
	border-bottom:1px solid black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.onglet_1
{
	background-color:#e2e4e5;
	border-bottom:0px solid black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-bottom:4px;
}

.contenu_onglet
{
	margin-left : 3px;
	margin-right : 3px;
	background-color: #e2e4e5;
	padding : 10px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
	display:none;
        font-family: Arial,Helvetica,sans-serif;
}

.navigation{
    position:relative;
    top:-100px;
    color: #A7430F;
    font-weight: bold;
    text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	background: #FFFDEA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #464032;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #A42903;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 140%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #A7430F;
}

a:hover {
}


#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 940px;
	height: 125px;
	margin: 0 auto;
}

/* Logo */

#logo {
	/*float: left;
	height: 75px;
	width: 500px;
	margin: 0;
	padding-top: 50px;
	background: url(images/logo2.png) no-repeat left 10px;
	background: url(images/img02.jpg) no-repeat left 20px;
	color: #000000;*/
}
#aube{
	height:135px;
	margin-bottom: 0px;
	margin-left:10px;
	border: none; 
}
#palisep{
	
	height:35px;
	margin-bottom: 15px;
	margin-left:220px;
	border: none; 
}
#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left:0px;
	letter-spacing: -1px;
	font-size: 3.8em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #5E4E38;
} 

#logo p a {
	color: #5E4E38;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #A83A01;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #E9E3CB;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #464032;
}

#search-submit {
	width: 50px;
	height: 23px;
	border: 1px solid #AC9A79;
	background: #AC9A79;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 940px;
	height: 36px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img01.jpg) no-repeat left top;
}

#menu ul {
	margin: 0px 0px 0px 10px;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 26px;
	margin-bottom: 10px;
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #E0D3B3;
	text-decoration: none;
}

#menu .current_page_item a {
	background: #E0D3B3;
	color: #2A1F0B;
}

/* Page */

#page {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
	padding: 20px px;
}

#page-bgbtm {
}

/* Content */

#content {
	
	width: 100%;
	padding: 10px 10px 0px 10px;
}
.corps_resultat {
	
	width: 80%;
	margin: 0 auto;
	padding:0;
}
.corps{	
	width: 960px;
	margin: 0 auto;
	padding:0;
}
.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #A7430F;
	border: none;
}

.post .meta {
	height: 30px;
	border-bottom: 1px solid #E9E3CB;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 0px;
	color: #464032;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	background: #E9E3CB;
	color: #464032;
}

.post .meta a {
	color: #464032;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 280px;
	padding: 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
	border-right: 1px solid #E9E3CB;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E5E0C6;
	margin: 0px 30px;
	border-right: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #E9E3CB;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #464032;
}

#sidebar p {
	margin: 0 0px;
	padding: 10px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #464032;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 940px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	border-top: 4px solid #EBE6D1;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#footer a {
	color: #464032;
        font-size:14px;
}

#gauche{
	width:100%;
	
	display: inline; /*evite double float dans IE */
	


}
#droite{	

	display: inline; /*evite double float dans IE */
}
#recherchepararmes{
	height:200px;
	
}
.label { 
vertical-align: center; 
} 
.haut_armes{
    width: 45%;
	float: left;
	display: inline; /*evite double float dans IE */
        margin-left:10px;
        margin-top: 10px;
}
.bas_armes{
	display: inline; /*evite double float dans IE */
        width:45%;
        float: right;
	display: inline; /*evite double float dans IE */
        margin-right:10px;
        margin-top: 10px;
}
#gauche_armes{
	width:45%;
	float: left;
	display: inline; /*evite double float dans IE */
        margin-left:10px;
        margin-top: 10px;
}
#droite_armes{	
	display: inline; /*evite double float dans IE */
        width:45%;
        float: right;
	display: inline; /*evite double float dans IE */
        margin-right:10px;
        margin-top: 10px;
}
#gauche_photos{
	width:50%;
	float: left;
	display: inline; /*evite double float dans IE */
}
#droite_photos{	
	display: inline; /*evite double float dans IE */
}

.label1{
	color: #A42903;
	float:left;
	/*width:130px;*/
	width:180px;
        text-align:left;
}
.label2{
	float:left;
	width:160px;
	text-align:left;
	/*width:10%;*/
}

.label3{
	float:left;
	width:100px;
	text-align:left;
	/*width:10%;*/
}

#gauche_2{
	width:50%;
	float: left;
	display: inline; /*evite double float dans IE */
}
#droite_2{	

	display: inline; /*evite double float dans IE */
}

/* Code pour info bulles */
a.info {
   position: relative;
   color: black;
   text-decoration: none;

}
a.info span {
   display: none; /* On masque l'infobulle. */
}
a.info:hover {
   background: none; /* Correction d'un bug d'Internet Explorer. */
   z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

   cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}
a.info:hover span {
   display: inline; /* On affiche l'infobulle. */
   position: absolute;

   white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */

   top: 20px; /* On positionne notre infobulle. */
   left: 20px;

   background: #FFEFB6;

   /*color: green;*/
   padding: 3px;
   text-align: justify;
   border: 1px solid green;
   border-left: 4px solid green;
}
body{
	background-image: url("../images/ToisonOr.png");
	background-size: 100%;
}